:root{
    --primary : #F22E89;
    --background : #F3F3F3;
    --prompt-bg:#F2F2F2;
    --prompt-icon-bg: #5C5C5C;
    --nav-icon:#777777;
    --white: #fff;
    --black: #000;
    --icon-color : #999999;
    --red : #D50001;
    --border-color : #939393;
    
    /* Form Colors */
    --error-red: #dc3545;
    --placeholder-gray: #9E9E9E;
    --tag-bg: #F73D931A;
    --tag-blue-bg: #e8f0fe;
    --tag-blue-text: #1a73e8;
    --sub-label-gray: #666;
    --hover-gray: #F5F5F5;
    --primary-font-family: "Source Sans Pro", Arial, sans-serif;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Semibold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Bold.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
        url('../fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  body {
    font-family: var(--primary-font-family);
  }